<!DOCTYPE html>
<html lang="en" ng-app="AutoSchedulerApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automatic Scheduler Priorities</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/normalize.css" rel="stylesheet">
  <link href="./css/style.css" media="all" rel="stylesheet" type="text/css" />
  <script src="./js/angular.min.js" charset="utf-8"></script>
  <script src="./js/AutoSchedulerController.js" charset="utf-8"></script>
  <script src="./js/app.js" charset="utf-8"></script>
</head>

<body ng-controller="AutoSchedulerController as priorities">
  <div id="modal-parent">
    <div id="modal">
      <div id="header">
        <a class="close-button">
          <i class="material-icons">close</i>
        </a>
        <h1 class="title">Automatic Scheduler Priorities</h1>
      </div>
      <!-- end header -->

      <div id="main">
        <ul>
          <li ng-repeat="priority in priorities.all">
            <input type="checkbox" id="priority {{ $index }}" ng-Disabled="priority.inactive" ng-model="priority.checked" />
            <label for="priority {{ $index }}">{{ priority.title }}</label>
            <i ng-if="priority.reorder" class="material-icons drag-handle">drag_handle</i>
          </li>
        </ul>
      </div>
      <!-- end #main -->
      <div id="modal-footer">
        <a class="run" href="#">
        Run
      </a>
      </div>
      <!-- end #modal-footer -->

    </div>
    <!-- end modal-->
  </div>
  <!-- end modal parent -->
  <div id="push-div">
    <a id="push-me">Push Me</a>
  </div>
</body>
<script src="./js/modal.js" charset="utf-8"></script>
</html>
